.footer { 
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    margin-right: .1rem
    ;
    background-image: linear-gradient(to left, rgba(32, 30, 30, 0.582), $back-color);
    .footer__div__h4 {
        color: white;
        text-transform: uppercase;
        font-family: $tittle-font;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: 4rem;
        text-align: center;
      }
      .footer__div__h5{
        color: white;
        font-family: $tittle-font;
        font-size: 1.5rem;
        font-weight: lighter;
        text-align: center;
        margin-right: 0.5rem;
      }
      .footer__div__ul {
        list-style: square;
        text-align: start;
        margin-right: 6rem;
    }
    
    .footer__div__last-child__ul {
        display: flex;
        justify-content:space-around;
        list-style: none;
        text-align: start;
        margin:auto;
    }
    .footer__div__ul__links{
        text-decoration: none;
        color: white;
        transition: all 1s;
        display: list-item;
        font-size: 1.1rem;
        font-family: $body-font;
        &:hover{
            color: rgb(68, 102, 139);
        }
    }
    .redes {
        font-size: 2rem;
    }

    .footer__nolink{
        font-family: $body-font;
        font-size: 1.1rem;
    }
}